.box {
	padding: 20px;
	width: 80%;
	margin: auto;
	margin-top: 52px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.block {
	margin: 10px 10px 0 0;
	display: block;
	height: 150px;
	text-align: center;
	background: #fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#inputs {
	padding-top: 10px;
	text-align: center;
}

input {
	padding: 5px;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	margin: 2px;
	margin-top: 10px;
	border: 1px solid #717171;
	border-radius: 3px;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe),
		to(#ffffff) );
	background: -moz-linear-gradient(top, #bcbcbe, #ffffff);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 1px 1px 0px #efefef;
	box-shadow: 1px 1px 0px #efefef;
}

input:focus {
	-webkit-box-shadow: 0px 0px 5px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}

textarea {
	padding: 5px;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	margin: 2px;
	margin-top: 10px;
	border: 1px solid #717171;
	border-radius: 3px;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe),
		to(#ffffff) );
	background: -moz-linear-gradient(top, #bcbcbe, #ffffff);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 1px 1px 0px #efefef;
	box-shadow: 1px 1px 0px #efefef;
}

textarea:focus {
	-webkit-box-shadow: 0px 0px 5px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}

#link {
	width: 60%;
}

#url {
	display: block;
	padding-top: 20px;
	font-size: 20px;
}

button.slick-black {
	cursor: pointer;
	color: #fff;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	line-height: 1;
	padding: 7px 0;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px
		rgba(255, 255, 255, 0.3);
	text-align: center;
	width: 150px;
	border: 0;
	background: #111;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000, rgba(0, 0, 0, 0.9)
		0%, rgba(20, 20, 20, 0.9) 50%, rgba(30, 30, 30, 0.9) 50%,
		rgba(50, 50, 50, 0.9) 100% );
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(50, 50, 50, 0.9
		) ), color-stop(0.5, rgba(30, 30, 30, 0.9) ),
		color-stop(0.5, rgba(20, 20, 20, 0.9) ),
		color-stop(1, rgba(0, 0, 0, 0.9) ) );
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px
		-1px 1px 0px rgba(135, 135, 135, 0.1);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset
		-1px -1px 1px 0px rgba(135, 135, 135, 0.1);
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1),
		inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
}

button.slick-black:hover {
	cursor: pointer;
	background: #222;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000, rgba(20, 20, 20,
		0.9) 0%, rgba(40, 40, 40, 0.9) 50%, rgba(50, 50, 50, 0.9) 50%,
		rgba(70, 70, 70, 0.9) 100% );
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(70, 70, 70, 0.9
		) ), color-stop(0.5, rgba(50, 50, 50, 0.9) ),
		color-stop(0.5, rgba(40, 40, 40, 0.9) ),
		color-stop(1, rgba(20, 20, 20, 0.9) ) );
}

button.slick-black:active {
	cursor: pointer;
	background: #000;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000, rgba(0, 0, 0, 0.9)
		0%, rgba(10, 10, 10, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%,
		rgba(30, 30, 30, 0.9) 100% );
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(30, 30, 30, 0.9
		) ), color-stop(0.5, rgba(20, 20, 20, 0.9) ),
		color-stop(0.5, rgba(10, 10, 10, 0.9) ),
		color-stop(1, rgba(0, 0, 0, 0.9) ) );
}

img#forkme {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

img#logo {
	border: 0;
}

button.sendme {
	color: red;
	margin-top: 20px;
}

p.version {
	color: green;
	text-align: right; 
}

.suggestion{
	color: gray;
	font-size: 10px;
}

#msg_error {
	margin: auto;
	text-align: center;
	
	background-color: #A12E14;
	
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#msg_notice {
	margin: auto;
	text-align: center;
	
	background-color: #34E0A0;
	
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#donation {
	text-align: right;
}

#midia{
	width: 360px;
	text-align: right;
	float: right;
}

#facebook {
	text-align: right;
	padding-top: 20px;
	float: left;
}

#twitter {
	text-align: right;
	float: left;
}

#bottom{
	height: 100px;
	display: block;
}

.clear{
	clear: both;
}