<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Remover Protetor de Links</display-name>
  
  <servlet>
  	<servlet-name>RemoveLinkServlet</servlet-name>
  	<servlet-class>br.com.desprotetorlink.controller.RemoveLinkServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>SuggestionServlet</servlet-name>
  	<servlet-class>br.com.desprotetorlink.controller.SuggestionServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RemoveLinkServlet</servlet-name>
  	<url-pattern>/removeLink.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SuggestionServlet</servlet-name>
  	<url-pattern>/suggestion.do</url-pattern>
  </servlet-mapping>
  
</web-app>
